* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    overflow-x: hidden;
    color: #000;
    background-color: #fff;
}

.container {
    width: 1135px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.title {
    font-size: 36px;
    line-height: 1.8;
    color: #001e64;
}

.button {
    padding-inline: 85px;
    display: inline-flex;
    align-items: center;
    font-size: 24px;
    line-height: 1.3;
    height: 54px;
    border-radius: 20px;
    color: #fff;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}
/* ------header----- */

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.menu__list {
    display: flex;
    column-gap: 30px;
    flex-wrap: wrap;
    justify-content: space-between;
}
.menu__item {
}
.menu__link {
    color: #001e64;
}
.header__icon {
}

/* -----hero---- */
.hero,
.header {
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 50px 50px;
    background-attachment: fixed;
}

.hero__container {
    height: 100vh;
    padding-top: 190px;
    padding-left: 382px;
}
.hero__title {
    margin-bottom: 183px;
    width: 580px;
    line-height: 1.3;
    font-size: 72px;
}

.hero__texts {
    width: 340px;
}

.hero__texts p {
    margin-bottom: 20px;
    color: #fff;
}

.hero__button {
    margin-bottom: 40px;
    padding-inline: 85px;
    background-color: #001e64;
}

.hero__language {
    position: relative;
    right: -800px;
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
}

/* -----crab----- */
.crab {
    padding-bottom: 40px;
    padding-top: 100px;
}

.crab__wrapper {
    display: flex;
    justify-content: space-between;
}

.crab__content {
    width: 600px;
}

.crab__item {
    margin-bottom: 30px;
    color: #000;
}

.crab__link {
    color: #000;
}

.crab__link:hover {
    font-size: 36px;
    line-height: 1.8;
    color: #001e64;
}
.crab__content-top {
    display: flex;
    column-gap: 50px;
}

.crab__content-item {
    margin-bottom: 30px;
}
.crab__content-title {
    margin-bottom: 10px;
    font-size: 16px;
    color: #001e64;
}
.crab__content-text {
}
.crab__content-bottom {
}
.crab__information {
}
.crab__title {
}
.crab__info {
    margin-bottom: 25px;
}
.crab__button {
    color: #001e64;
    background-color: transparent;
}
/* -----shells----- */

.shells {
    background-image: url(../img/shells/bg.jpg);
}

.shells__list {
    display: flex;
    justify-content: space-between;
    padding-top: 135px;
    padding-bottom: 96px;
}

/* -----info----- */

.info {
    padding-top: 100px;
}

.info__top {
    margin-bottom: 50px;
    display: flex;
    column-gap: 100px;
}

.title-top {
    width: 490px;
    margin-bottom: 30px;
}

.info__texts-top {
    max-width: 420px;
}

.info__texts-top p {
    margin-bottom: 30px;
}

.info__center {
    margin-bottom: 50px;
    display: flex;
    column-gap: 179px;
}

.title-center {
    margin-bottom: 30px;
}
.texts {
    width: 420px;
}

.info__bottom {
    display: flex;
    column-gap: 177px;
}
.info__text-one {
    margin-bottom: 50px;
}

/* -----advertisement------ */

.advertisement {
    padding-top: 100px;
}
.advertisement__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.advertisement__img {
    width: 800px;
    height: 310px;
}
.advertisement__text {
    width: 700px;
    font-size: 18px;
    text-align: center;
}

/* ------contacts------ */

.contacts {
    display: flex;
    column-gap: 20px;
    padding-bottom: 100px;
    padding-top: 100px;
}

.contacts__info {
    padding-top: 30px;
}
.contacts__title {
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 1.3;
    color: #001e64;
}

.contacts__links a {
    margin-bottom: 30px;
    display: block;
    font-size: 18px;
    color: #000;
}
